doctype html
html
	head
		title #{title}
		meta(charset="utf-8")
		script(src="https://cdn.bootcss.com/Chart.js/2.5.0/Chart.bundle.js")
		script(src="./javascripts/utils.js")
		|<style>
		|canvas{
		|		-moz-user-select: none;
		|		-webkit-user-select: none;
		|		-ms-user-select: none;
		|		}
		|</style>
	body
		h4 #{message}
		//p #{csrfToken}
		div(style="width:70%; margin:0 auto;")
			label(for="selType1",style="background-color:rgb(255,99,132);") 查询类型：
			select(id="selType1")
					option(VALUE="temperature" SELECTED) 温度
					option(VALUE="humidity" ) 湿度
					option(VALUE="bmp") 海拔
			label(for="meeting",style="background-color:rgb(255,99,132);") 日期：
			input(id="meeting",type="date",value="2017-05-13")
			|       
			button(type="button",onclick="loadXMLDoc(document.getElementById('selType1'),document.getElementById('meeting'),0,1)") 查询
			|														
			label(for="selType2",style="background-color:rgb(54,162,235);") 查询类型：
			select(id="selType2")
					option(VALUE="temperature" SELECTED) 温度
					option(VALUE="humidity" ) 湿度
					option(VALUE="bmp") 海拔
			label(for="secday",style="background-color:rgb(54,162,235);") 日期：
			input(id="secday",type="date",value="2017-05-13")
			button(type="button",onclick="loadXMLDoc(document.getElementById('selType2'),document.getElementById('secday'),1,0)") 查询
			
		div(style="width:75%; margin:0 auto;padding-top:25px;")
			canvas(id="canvas")
		br
		
		div(style="width:70%; margin:0 auto;")
			label(for="selSdate",style="background-color:rgb(240,240,240);") 起始日期：
			input(id="selSdate",type="date",value="2017-05-13")
			|       
			label(for="selEdate",style="background-color:rgb(240,240,240);") 结束日期：
			input(id="selEdate",type="date",value="2017-05-13")
			button(type="button",onclick="loadXMLDocAdv(document.getElementById('selSdate'),document.getElementById('selEdate'))") 高级查找	
			
		div(style="width:75%; margin:0 auto;padding-top:25px;")
			canvas(id="canvas3")
			
		//button(onclick="toggleSmooth(this)") smooth
		//button#randomizeData Randomize Data
		//button#addDataset Add Dataset
		//button#removeDataset Remove Dataset
		//button#addData Add Data
		//button#removeData Remove Data
		script
			|var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
			|var config = {
			|type: 'line',
			|data: {
			|    	labels: !{JSON.stringify(confdata.labels,null,4)},
			|    	datasets: !{JSON.stringify(confdata.datasets,null,4)},
			|	},
			|options: !{JSON.stringify(confdata.opt,null,4)},
			|};
			|var configadv = {
			|	type: 'bar',
			|	data: {
			|   	labels: !{JSON.stringify(confdata.labels,null,4)},
			|    	datasets: !{JSON.stringify(confdata.datasets,null,4)},
			|	},
			|	options: !{JSON.stringify(confdata.opt,null,4)},
			|};
			|Date.prototype.Format = function (fmt) { //author: meizz 
			|var o = {
			|	"M+": this.getMonth() + 1, //月份 
			|	"d+": this.getDate(), //日 
			|	"h+": this.getHours(), //小时 
			|	"m+": this.getMinutes(), //分 
			|	"s+": this.getSeconds(), //秒 
			|	"q+": Math.floor((this.getMonth() + 3) / 3), //季度 
			|	"S": this.getMilliseconds() //毫秒 
			|};
			|if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
			|for (var k in o)
			|if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
			|return fmt;
			|}

			|window.onload = function() {
			|var ctx = document.getElementById("canvas").getContext("2d");
			|var ctx3 = document.getElementById("canvas3").getContext("2d");
			|window.myLine = new Chart(ctx, config);
			|configadv.data.datasets[0].data=[0,0,0,0,0,0,0];
			|configadv.data.datasets[1].data=[0,0,0,0,0,0,0];
			|configadv.data.datasets[0].type='line';
			|configadv.data.datasets[1].type='bar';
			|configadv.data.datasets[1].yAxisID='y-axis-1';
			|window.myLine3 = new Chart(ctx3, configadv);
			|var curDay = new Date();
			|var lastDay = new Date(curDay).valueOf() - 1 * 24 * 60 * 60 * 1000;
			|lastDay = new Date(lastDay);
			|var last30Day = new Date(curDay).valueOf() - 30 * 24 * 60 * 60 * 1000;
			|last30Day = new Date(last30Day);
			|document.getElementById("meeting").value = curDay.Format("yyyy-MM-dd");
			|document.getElementById("secday").value = lastDay.Format("yyyy-MM-dd");
			|document.getElementById("selSdate").value = last30Day.Format("yyyy-MM-dd");
			|document.getElementById("selEdate").value = curDay.Format("yyyy-MM-dd");
			|loadXMLDocAdv(document.getElementById('selSdate'),document.getElementById('selEdate'));
			|};
			
			|document.getElementById('randomizeData').addEventListener('click', function() {
			|config.data.datasets.forEach(function(dataset) {
			|	dataset.data = dataset.data.map(function() {
			|		return randomScalingFactor();
			|	});
			|});
			|window.myLine.update();
			|window.myLine3.update();
			|});

			|var colorNames = Object.keys(window.chartColors);
			|document.getElementById('addDataset').addEventListener('click', function() {
			|var colorName = colorNames[config.data.datasets.length % colorNames.length];
			|var newColor = window.chartColors[colorName];
			|var newDataset = {
			|    label: 'Dataset ' + config.data.datasets.length,
			|    backgroundColor: newColor,
			|    borderColor: newColor,
			|    data: [],
			|    fill: false
			|};

			|for (var index = 0; index < config.data.labels.length; ++index) {
			|    newDataset.data.push(randomScalingFactor());
			|}

			|config.data.datasets.push(newDataset);
			|window.myLine.update();
			|});

			|document.getElementById('addData').addEventListener('click', function() {
			|if (config.data.datasets.length > 0) {
			|    var month = MONTHS[config.data.labels.length % MONTHS.length];
			|    config.data.labels.push(month);
			|    config.data.datasets.forEach(function(dataset) {
			|        dataset.data.push(randomScalingFactor());
			|   });

			|    window.myLine.update();
			|}
			|});

			|document.getElementById('removeDataset').addEventListener('click', function() {
			|    config.data.datasets.splice(0, 1);
			|    window.myLine.update();
			|});

			|document.getElementById('removeData').addEventListener('click', function() {
			|    config.data.labels.splice(-1, 1); // remove the label first
			|    config.data.datasets.forEach(function(dataset, datasetIndex) {
			|        dataset.data.pop();
			|    });
			|    window.myLine.update();
			|});	
			
			|function toggleSmooth(btn) {
			|var value = btn.classList.toggle('btn-on');
			|config.options.elements.line.tension = value? 0.4 : 0.000001;
			|window.myLine.update();
			|};
			
			|function loadXMLDoc(sel,btn,nidx,oidx)
			|{
			|	var index=sel.selectedIndex;
			|	var val = sel.options[index].value;
			|	var cText = sel.options[index].text;
			|	var xmlhttp;
			|	if (window.XMLHttpRequest)
			|	{// code for IE7+, Firefox, Chrome, Opera, Safari
			|		xmlhttp=new XMLHttpRequest();
			|	}
			|	else
			|	{// code for IE6, IE5
			|	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
			|	}
			|	xmlhttp.onreadystatechange=function()
			|	{
			|		if (xmlhttp.readyState==4 && xmlhttp.status==200)
			|		{
			|			if(xmlhttp.responseText == "none"){
			|				document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
			|				config.data.datasets[nidx].data=[0,0,0,0,0,0,0,0,0,0,0,0,0];
			|				window.myLine.update();
			|				alert("没有查询到数据!");
			|			}
			|			else{
			|				config.data.datasets[nidx].data=[];
			|				var jdat = JSON.parse(xmlhttp.responseText);
			|				for (var k in jdat){
			|					config.data.datasets[nidx].data.push(jdat[k]);
			|				}
			
			|				var oldyAxisID = config.data.datasets[nidx].yAxisID;
			|				var oldText    = config.options.scales.yAxes[nidx].scaleLabel.labelString;
			|				var othText    = config.options.scales.yAxes[oidx].scaleLabel.labelString;
			|				if(oldText != cText){
			|					config.options.scales.yAxes[nidx].scaleLabel.labelString = cText;
			|					if(othText != cText){
			|						if(nidx==0){
			|							config.data.datasets[oidx].yAxisID = "y-axis-2";
			|						}else{
			|							config.data.datasets[nidx].yAxisID = "y-axis-2";
			|						}
			|						config.options.scales.yAxes[1].display=true;
			|					}else{
			|						if(nidx==0){
			|							config.data.datasets[oidx].yAxisID = "y-axis-1";
			|						}else{
			|							config.data.datasets[nidx].yAxisID = "y-axis-1";
			|						}	
			|						config.options.scales.yAxes[1].display=false;
			|					}
			|					window.myLine.destroy();
			|					window.myLine = new Chart(document.getElementById("canvas").getContext("2d"), config);
			|				}
			|				//console.log("--old:"+oldText+"--cur:"+cText+"--oth:"+othText);
			|				document.getElementById("myDiv").innerHTML=config.data.datasets[nidx].data;
			|				window.myLine.update();
			|			}
			|		}
			|	}
			|	xmlhttp.open("POST","/web/?dat="+val+"&deviceid=1002&tm="+btn.value,true);
			|	xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			|	xmlhttp.setRequestHeader("_csrf","#{csrfToken}");
			|	xmlhttp.send("_csrf="+"#{csrfToken}");
			|}
			
			|function loadXMLDocAdv(selS,selE)
			|{
			|	var xmlhttp;
			|	if (window.XMLHttpRequest)
			|	{// code for IE7+, Firefox, Chrome, Opera, Safari
			|		xmlhttp=new XMLHttpRequest();
			|	}
			|	else
			|	{// code for IE6, IE5
			|	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
			|	}
			|	xmlhttp.onreadystatechange=function()
			|	{
			|		if (xmlhttp.readyState==4 && xmlhttp.status==200)
			|		{
			|			if(xmlhttp.responseText == "none"){
			|				alert("没有查询到数据!");
			|			}
			|			else{
			|				//document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
			|				configadv.data.labels=[];
			|				configadv.data.datasets[0].data=[];
			|				configadv.data.datasets[1].data=[];
			|				configadv.data.datasets[0].type='line';
			|				configadv.data.datasets[1].type='bar';
			|				configadv.data.datasets[0].label='最高值';
			|				configadv.data.datasets[1].label='平均值';
			|				var jdat = JSON.parse(xmlhttp.responseText);
			|				for (var k in jdat){
			|					configadv.data.labels.push(k);
			|					configadv.data.datasets[0].data.push(jdat[k].max);
			|					configadv.data.datasets[1].data.push(jdat[k].avg);
			|				}
			|				window.myLine3.update();
			|			}
			|		}
			|	}
			|	xmlhttp.open("POST","/webadv/?deviceid=1002&tms="+selS.value+"&tme="+selE.value,true);
			|	xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			|	xmlhttp.setRequestHeader("_csrf","#{csrfToken}");
			|	xmlhttp.send("_csrf="+"#{csrfToken}");
			|}
		|<div id="myDiv"></div>		